{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
<script type="text/javascript">
    console.log("로긴되어있음");
  </script>
{% else %}
  <script type="text/javascript">
  console.log("로긴안되어있음");
    window.location.href="{% url 'common:login' %}";
  </script>
{% endif %}

<textarea id="chat-log" cols="35" rows="15"></textarea><br/>




{% load chat_extra_tags %}
<script src="//cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<!--아래 스크립트 내 렛 챗 로그= 이하 바로 아래 원래 메시지 불러오는 코드로 넣어야됨-->
<!--    (function () {-->
<!--        let messages = [{% for message in old_messages %}'{{ message }}',{% endfor %}];-->
<!--        let creaties = [{% for message in old_messages %}'{{ message.get_created }}',{% endfor %}];-->
<!--        for (i = messages.length; i > 0; i&#45;&#45;) {-->
<!--            chat_log.value += (messages[i - 1]+ '\n');-->
<!--        }-->
<!--    })();-->
<script>
    {% get_main_message as old_messages %}

    let chat_log = document.querySelector("#chat-log");

    (function () {
        let messages = [{% for message in old_messages %}'{{ message }}',{% endfor %}];
        let creaties = [{% for message in old_messages %}'{{ message.get_created }}',{% endfor %}];
        for (i = messages.length; i > 0; i--) {
            chat_log.value += (messages[i - 1]+ '\n');
        }
    })();

    let chatSocket = new ReconnectingWebSocket('wss://' + window.location.host + '/ws/main/');

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        let message = data['message'];
        let created = data['created'];
        chat_log.value += (message + '\n');
        var textarea = document.getElementById('chat-log');
        textarea.scrollTop = textarea.scrollHeight;
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly', e);
    };

    var textarea = document.getElementById('chat-log');
    textarea.scrollTop = textarea.scrollHeight;

</script>

{% endblock %}